= text-marquee textElement='.title > div'
  .title
    div
      h3 = model.name!
  .image
    if model.isNew
      p.new New
    img src='{{ unbound model.coverImage }}'
    .i-right
      = link-to 'show.add' model
        i.icon-plus
  if model.isNew
    span.bar.newBar
  else
    span.bar.non
