section.settings
  header
    h1 Settings

  article
    h2 Connected Accounts
    div#acc
      each backend in backends
        p.status
          img src=backend.logoUrl
          '
          span.name = backend.name
          '
          if backend.isConnected
            = link-to 'backend.disconnect' backend classNames='status connected'
              | Connected &#9654;
          else
            = link-to 'backend.connect' backend classNames='status'
              | Not Connected &#9654;

  article
    h2 Show Settings

    div
      = input type='checkbox' id='ask-rating' checked=model.askRating
      label for='ask-rating'  Ask for rating once the show is finished
    div
      = input type='checkbox' id='ask-comment' checked=model.askComment
      label for='ask-comment'  Ask for a comment after every episode

  article
    h2 Looks
    div 
      label for='theme' 
        ' Theme:
      = view 'select' id='theme' value=model.theme content=controller.themes optionValuePath='content.id' optionLabelPath='content.name'
