article#login.auth
  h2.tit Log into Tsuiseki
  = form-for controller id='login_form' action='authenticate'
    .top-inp
      = ef-input identification label='Username'
    .bot-inp
      = ef-input password
    button.icon-login type='submit' name='Submit'
  = link-to 'account.forgot' classNames='account_link'
    | Forgot your password?
  br
  = link-to 'account.register' classNames='account_link'
    | Want an account?
