h2.tit 
  = link-to 'userShow.drop' model classNames='drop' title='Drop show'
    i.icon-trash 
  = model.name!
= form-for editable action='save'
  .fields.addf
    .top-inp
      = ef-input lastEpisodeWatched classNames='alt'
        = input-field lastEpisodeWatched as='number'
        = label-field lastEpisodeWatched text='episodes watched'
        if view.showError
          = error-field lastEpisodeWatched
    .bot-inp
      = ef-input showSource label='from' as='select' collection='controller.sources' optionValuePath='content.id' optionLabelPath='content.sourceNamePremiere'
  button.icon-check type='submit'
