@import "compass/css3/user-interface";

.add_show {
  text-align: center;

  #show_search {
    margin-top: 30px;
    text-align: center;
    display: inline-block;
    position: relative;
  }

  input, select {
    border: 1px solid $dialog-bg;
    border-radius: 5px;
    background: transparent;
    text-align: center;
    color: $dialog-bg;
    font-weight: 300;
    opacity: .4;

    &:focus {
      outline: none;
      //background: rgba(250,250,250,.3);
      opacity: 1;
    }
  }

  input {
    width: 300px;
    padding: 5px 10px;

    @include input-placeholder {
      color: $dialog-bg;
    }
  }

  select {
    width: 150px;
    margin-left: 15px;
    padding: 4px 10px;
    text-align-last: center;

    @media (max-width: 625px) {
      width: 320px;
      margin-left: 0;
      margin-top: 10px;
    }
  }

  section {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
