section.archive {
  width: 95%;
  max-width: 700px;
  margin: 20px auto 20px auto;
  padding: 20px 0 30px 0;

  header {
    h1 {
      text-align: right;
      font-weight: 300;
      color: $dark-main;
      font-size: 18pt;
      margin-right: 20px;
    }
  }

  article {
    margin-top: 20px;

    & > h2 {
      font-size: 20px;
      font-weight: 400;
    }

    & > p {
      background: $light-bg;
      box-shadow: 0 0 2px 1px $box-shadow-color;
      margin: 5px 0;
      padding: 5px 10px;
    }
  }
}
