.liked {
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 400px;

  button {
    display: inline-block !important;
    font-size: 50px !important;
    height: auto !important;
    //width: 70px !important;
    border-radius: 30px !important;
    font-weight: 700 !important;
    color: $slight !important;
    //margin: 0 20px !important;
    flex: 1;

    &.lik {

      &:hover, &.active, &:focus {
        //background: $green;
        //color: #fff;
        color: $green !important;
        //font-weight: 700 !important;
        background: transparent !important;
      }
    }
    &.dis {

      &:hover, &.active, &:focus {
        //background: $red;
        //color: #fff;
        color: $red !important;
        //font-weight: 700 !important;
        background: transparent !important;
      }
    }
    &.neu {

      &:hover, &.active, &:focus {
        color: $yellow !important;
        background: transparent !important;
      }
    }
  }
}
.input-comment {
  margin: 0 auto 10px auto;
  width: 100%;
  max-width: 350px;

  textarea {
    height: 80px;
    width: 100%;
    border-radius: 5px;
    border: none;

    &:focus {
      outline: none;
    }
  }

  & > div {
    text-align: right;
    font-size: small;
    color: $light;
  }
}

#comment-filter.victims {
  .victims {
    a {
      background: $dark-main;
      color: $lighter-main;
    }
  }
  .global {
    a {
      background: $light-main;
      color: inherit;
    }
  }
}
#comment-filter.self {
  .self {
    a {
      background: $dark-main;
      color: $lighter-main;
    }
  }
  .global {
    a {
      background: $light-main;
      color: inherit;
    }
  }
}

#comment-wrap.victims .arrow {
  left: calc((100% / 3) * 1.5);
}
#comment-wrap.self .arrow {
  left: calc((100% / 3) * 2.5);
}

.pol.pos, .pol.neg, .pol.med.pos, .pol.med.neg {
  //border: 1px solid;
  //box-sizing: border-box;

  * {
    //opacity: .85;
  }
}
.pol.pos {
  color: $pos;
  //border-color: rgb(93, 132, 34);
  //color: rgb(93, 132, 34);
}
.pol.neg {
  color: $neg;
  //border-color: rgb(216, 86, 122);
  //color: rgb(216, 86, 122);
}
.pol.med.pos {
  color: $med-pos;
  //border-color: rgb(189, 153, 7);
  //color: rgb(189, 153, 7);
}
.pol.med.neg {
  color: $med-neg;
  //border-color: rgb(157, 90, 10);
  //color: rgb(157, 90, 10);
}
.pol.neu {
  color: $neu;
}

#comment-filter {
  //border-radius: 15px;
  //overflow: hidden;
  //border: 1px solid #000;
  margin-bottom: 20px;
  //box-shadow: 0 0 2px 1px #bbb;

  a {
    text-decoration: none;
    display: block;
    background: $light-main;
  }

  .global, .victims, .self {
    width: calc(100% / 3);
    display:inline-block;
  }
  .global {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    //margin-right: -1px;

    a {
      background: $dark-main;
      color: $lighter-main;
    }
  }
  .self {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    //margin-left: -1px;
  }
}

#comment-wrap {
  background: $light-main;
  //box-shadow: 0 0 2px 1px #bbb;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;

  .more, .comment-edit a {
    display: inline-block;
    background: $lighter-main;
    border-radius: 5px;
    color: $light !important;
    cursor: pointer;
    font-size: inherit !important;
    height: inherit !important;
    padding: 5px 0;
    min-width: 120px;
    display: inline-block;
    text-decoration: none;

    &:hover, &:focus {
      box-shadow: 0 0 2px $light;
      color: $dark-main !important;
    }
  }
  .comment-edit {
    margin: 5px 0;
  }

  .arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid $light-main;
    position: absolute;
    top: -9px;
    left: calc((100% / 3) / 2);
    transform: translateX(-50%);
  }

  p {
    padding: 0;
    margin: 0 !important;
  }

  .left, .right {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: $lighter-main;
    border-radius: 25px;
    margin: 10px 5px 5px 5px;
    position: relative;
    transition: .3s;
    color: $light;

    i {
      font-size: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    &:hover, &:focus {
      box-shadow: 0 0 2px $light;
      color: $dark-main;
      cursor: pointer;
    }
  }
  .left i {
    transform: translate(-60%,-50%);
  }
  .right i {
    transform: translate(-40%,-50%);
  }

  .comments {
    width: 100%;
    max-width: 460px;
    margin: auto;

    .comment {
      display: flex;
      flex-direction: row;
      margin-bottom: 5px;
      background: $lighter-main;
      box-shadow: 0 0 2px 1px $box-shadow-color;

      .text, .score {
        display: inline-block;
      }
      .score {
        height: 75px;
      }
      /*.info {
        width: 100px;
        background: $dark-main;
        color: #fff;

         * {
           display: block;
         }
      }*/
      .score {
        width: 75px;
        text-align: center;
        font-size: 40px;
        display: table;
        margin: auto 0;

        span {
          vertical-align: middle;
          display: table-cell;
        }
      }
      .text {
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: left;

        p {
          flex: 1;
          padding: 5px 10px;
          word-wrap: break-word;
          word-break: break-word;
          max-width: 360px;
        }
        .info {
          font-size: small;
          color: $light;
          padding: 5px 10px;

          span {
          }
        }
      }
    }

  }

  .comment-ep {
    //display: table;
    //width: 100%;

    .ep-img, .ep-score {
      height: 141px; //haxxor
      display: inline-block;
      vertical-align: middle;
      //border-radius: 15px;
      //overflow: hidden;
      background: $lighter-main;
      box-shadow: 0 0 2px 1px $box-shadow-color;
      margin: 10px 5px;
    }
    .ep-img {
      position: relative;
      width: 250px;

      img {
        max-width: 100%;
      }
      span {
        position: absolute;
        left: 0;
        background: $trans-black;
        color: $lighter-main;
        padding: 3px 5px;
      }
    }
    .ep-score {
      position: relative;
      width: 200px;

      .score-pol {
        width: 100%;
        display: block;
        text-align: center;
      }

      &.single {
        .score-percent {
          font-size: 72pt;
          line-height: 87pt;
        }
      }

      &.double {
        .score-percent {
          font-size: 27pt;
        }
      }

      //.score-pol {
      //  position: absolute;
      //  width: 100%;
      //  display: block;
      //  left: 0;
      //  bottom: 5px;
      //  text-align: center;
      //}
      //.score-percent {
      //  position: absolute;
      //  top: 50%;
      //  left: 50%;
      //  transform: translate(-50%,-60%);
      //  font-size: 72pt;
      //  //font-weight: 700;
      //}
    }
  }
}
