aside[role="dialog"] {
  @include transition(opacity 0.5s);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 4;
  overflow: auto;
  background: $diag-trans;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 150%;
  left: -25%;

  &::-webkit-scrollbar {
    display: none;
  }

  .dia-fix {
    flex: 1;
    visibility: hidden;
    min-height: 30px;
  }

  &.hide {
    opacity: 0;
  }

  /*&:after {
    background: $dialog-bg;
    opacity: $dialog-bg-op;
  }*/

  p {
      margin-bottom: 20px;
  }

  section {
    //@include translateY(-50%);
    background: $light-bg;
    position: relative;
    //top: 50%;
    margin: auto;
    width: 100vw;
    max-width: 600px;
    box-shadow:0 0 2px $darker-main;
    border-radius: 10px;
    //overflow: hidden;
    z-index: 1;
    //max-height: 100%;
    //overflow-y: auto;
    flex-shrink: 0;

    article {
        //padding: 25px 30px 10px 30px;
        //height: 100%;
        height: auto !important;
        margin: 35px 10px 10px;

      .fields {
        .stylish-input input {
          width: 50%;
        }
      }

      .addf {
        width: 100%;
        max-width: 400px;
        display: inline-block;
        margin: auto;
        .stylish-input input, .stylish-input select {
          width: 60%;
        }
        .stylish-input label {
          width: 15%;
        }
      }

      .tit {
        //font-weight: 700;
        //font-size: 14pt;
        margin: 0 25px 20px;
        font-family: 'Roboto Condensed';
      }

      .show-name {
        font-family: 'Roboto Condensed';
        font-weight: 500;
        font-size: 17px;
      }

      button, input[type=submit] {
        display: block;
        margin: auto;
        width: 50px;
        height: 50px;
        border: none;
        font-size: 40px;
        color: inherit;
        background: transparent;
        border-radius: 25px;
        padding: 0;
        cursor: pointer;

        &:hover, &:focus {
          background: $check-color;
            color: $lighter-main;
        }
      }
    }

    span#close {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 25px;
      height: 35px;
      width: 40px;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;

      &:hover {
        cursor: pointer;
        color: $lighter-main;
        background: $red;
      }
      
      i {
      }
    }
  }
}
