.edit[role="dialog"] {
  input {
    width: 3em;
  }

  .lastEpisodeWatched input {
    text-align: right;
  }
  
  .tit {
    margin-left: 35px;
  }

  .drop {
    //@include transition(opacity 0.5s);
    display: inline-block;
    height: 30px; //the height of the h2
    width: 30px;
    vertical-align: middle;
    //opacity: 0.7;
    color: $dark-main;
    margin-right: 5px;
    margin-left: -35px;
    background: transparent;
    font-size: 14pt;
    
    border: 2px solid $dark-main;
    border-radius: 50%;

    &:hover, &:focus {
      //opacity: 1;
      color: $red;
      border-color: $red;
    }
    
    i {
      vertical-align: middle;
    }
  }
}
