.feedback {
  input[type="text"], textarea {
    font-family: 'Roboto Condensed';
    width: 90%;
    border: 1px solid $gradient-border-color;
    padding: 5px 10px;
    color: $gradient-text-focus;
    margin: auto;
    display: block;
    //border: none;

    &:focus {
      outline: none;
    }
  }
  input[type="text"] {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: 10px;
  }
  textarea {
    height: 200px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 10px;
    margin-top: -1px;
  }
}
