input[type="text"], input[type="password"] {
  user-select: text;
}

label {
    // allow labels to wrap normally
    white-space: normal;
}

.stylish-input {
  input, area, select, label {
    /*border: 1px solid $gradient-border-color;
    border-radius: 5px;
    background: linear-gradient(to bottom, $gradient-light 0%, $gradient-dark 100%);
    color: $gradient-text-color;
    text-shadow: 0 -1px 0 $gradient-shadow-dark, 0 1px 0 $gradient-shadow-light;
    font-family: 'segoe ui', Tahoma, sans-serif;*/

    padding: 5px 10px;
    border: 1px solid $gradient-border-color;
    border-radius: 5px;
    background: transparent;
    color: $gradient-text-focus;
    text-shadow: none;
    //font-family: 'segoe ui', Tahoma, sans-serif;
    //overflow-x: hidden;
  }

  input, area, select {
    margin-left: -1px;
    //margin-right: -5px;
    position: relative;
    z-index: 1;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 50%;

    //background: linear-gradient(to bottom, $gradient-light 0%, $gradient-light-dark 100%) !important;

    &:focus {
      outline: none;
      //color: $gradient-text-focus;
      //background: $gradient-focus !important;
      //text-shadow: none;
    }

    option { //Can't change much?
      //color: $gradient-text-focus;
      //background: $gradient-focus;
    }
  }

  select {
    padding-top: 4px;
    padding-bottom: 4px;
    overflow-x: hidden;
  }

  label {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    -webkit-user-select: none;
    user-select: none;
    cursor: default;

    display: inline-block !important;
    width: 25%;
  }

  .error {
    display: block;
  }
}

.top-inp {
  input,select {
    border-bottom-right-radius: 0;
  }
  label {
    border-bottom-left-radius: 0;
  }
}

.bot-inp {
  margin-top: -1px;
  margin-bottom: 10px;

  input,select {
    border-top-right-radius: 0;
  }
  label {
    border-top-left-radius: 0;
  }
}

.alt {
  input {
    width: 15% !important;
    border-radius: 5px 0 0 0;
    margin: 0;
  }

  label {
    width: 59.335% !important;
    border-radius: 0 5px 0 0;
    margin-left: -1px;
    padding: 5px 0;
  }
}
