.loading {
  background-image: url($loading-img);
  background-repeat: no-repeat;
  background-position: center center;

  .discl {
    //display: inline-block;
    //background: $light-main;
    //margin: auto;
    text-align: center;
  }
}
