article.auth {
  /*padding: 50px 0 10px 0;
  background: $light-bg;
  margin: 20px auto;
  box-shadow: 0 0 2px 1px $box-shadow-color;
  vertical-align: top;
  position: relative;
  text-align: center;
  width: 95%;
  max-width: 400px;

  h1 {
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 31pt;
    font-weight: 200;
  }*/

  h2 {
    //margin-bottom: 20px;
  }
  button {
    background: none;
    height: 60px;
    width: 60px;
    padding: 0;
    border-radius: 30px;
    font-size: 22pt !important;

    &:hover, &:focus {
      background: $dark-main;
      color: $lighter-main;
    }
  }
  div {
    //margin: 5px;
    //text-align: center;

  }
  input {
    //width: 50%;
    text-align: left;
  }
  .account_link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
