.message {
  position: fixed;
  margin: auto;
  top: 20px;
  left: 0;
  right: 0;
  max-width: 700px;
  width: 90%;
  min-height: 20px;
  padding: 15px;
  //background-color: $darker-main;
  //color: $light-main;
  //box-shadow: 0 0 2px 0 $darker-main;
  z-index: 5;
  text-align: center;
  //border: 3px $light-main solid;
  border-radius: 5px;
  opacity: 0;
  display: none;
  border: 1px solid;
  border-right-width: 5px;
  border-left-width: 5px;
  font-weight: 400;
  box-sizing: border-box;

  &.success {
    color: $success-dark;
    background: $success-light;
    border-color: $success-dark
  }
  &.error {
    color: $error-dark;
    background: $error-light;
    border-color: $error-dark;
  }
  &.info {
    background: $slight;
    color: $dark-main;
    border-color: $dark-main;
  }
}
