/* The following was moved from _about.scss */

section.settings {
  width: 95%;
  background: $light-bg;
  box-shadow: 0 0 2px 1px $box-shadow-color;
  margin: 20px auto 20px auto;
  padding: 20px 0 30px 0;
  text-align: center;
  max-width: 700px;
  font-weight: 400;

  header {
    margin-bottom: 20px;

    h1 {
      text-align: right;
      font-weight: 300;
      color: $dark-main;
      font-size: 18pt;
      margin-right: 20px;
    }
  }

  >p {
    text-align: justify;
    margin: 0 30px;
  }

  article {
    text-align: justify;
    margin: 10px  30px;
    vertical-align: top;

    h2 {
      font-weight: 400;
      text-align: center;
      font-size: 16pt;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 14pt;
    }
    h4 {
      font-size: 12pt;
      text-indent: 15px;
    }
    p {
      text-indent: 15px;
    }

    div {
      text-indent: 30px;
    }
  }
}

/* End paste */



@media (max-width: 550px) {
  section.settings article {
    width: 95% !important;
  }
}

section.settings {
  article {
    width: 48%;
    display: inline-block;
    margin: 5px 5px 10px 5px;

    div#acc {
      display: inline-block;
      width: auto;
      text-align: left;

      img {
        height: 16px;
        width: 16px;
      }

      p {
        vertical-align: top;
        padding: 3px 10px 1px 0;
      }

      a.status {
        color: $light;
        font-size: x-small;
        vertical-align: super;
        font-family: arial, sans-serif;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &.connected {
          color: $green;
        }
      }
    }

    #theme {
      background: transparent;
    }
  }
}
