.stalk {
  text-align: center;
  padding: 0;

  div.shows {
    min-height: 189px;
  }

  div.top_stalk {
    width: 100%;
    max-width: 700px;
    color: $light-main;
    background: $dark-main;
    margin: 20px auto 20px auto;
    text-align: center;
    padding: 5px 0 5px;
    border-radius: 100px;

    p {
      margin: 0 15px 0 15px;
    }
  }

  article.stalking, article.stalk_search {
    background: $light-bg;
    display: inline-block;
    margin: 0 5px 20px 5px;
    padding: 10px 0 10px 0;
    box-shadow: 0 0 2px 1px $box-shadow-color;
    vertical-align: top;
    min-height: 150px;
    width: 95%;
    max-width: 500px;
    position: relative;

    .inner, h2, .pagenum, input, .results {
      margin: 0 5px 0 5px;
    }
    .pagenum {
      font-weight: 400;
      font-size: 9pt;
      position: absolute;
      top: -10px;
      right: 10px;
      //-webkit-transform: translateX(-50%);
      //transform: translateX(-50%);
      display: block;
      padding: 5px 10px;
      background: $lighter-main;
      box-shadow: 0 0 2px 1px $box-shadow-color;

      input {
        padding: 0;
        border: 1px solid $gradient-border-color;
      }
    }
    .inner {
      text-align: center;
      margin: 5px;

      span {
        display: inline-block;
        margin: 5px 10px;
      }
    }
  }

  article.stalking {
    //position: relative;

    input {
      width: 3em;
      text-align: right;
    }
    .inner {
      margin: 5px 40px;
    }
  }


  #prev_page, #next_page, .next, .previous {
    cursor: pointer;
    display: block;
    height: 100%;
    position: absolute;
    //background: green;
    top: 0;
    vertical-align: middle;
    font-size: 25px;
    color: $light;
    width: 40px;
    text-align: center;

    i {
      display: block;
      height: 60%;
      position: absolute;
      bottom: 0;
    }

    &:hover {
      //background: rgba(220,220,220,.3);
      color: $dark-main;
    }
  }
  #prev_page, .previous, #prev_page > i {
    left: 0;
  }
  #next_page, .next, #next_page > i {
    right: 0;
  }

  article.stalk_search {
    h2 {
      margin-bottom: 5px;
    }

    /*.next, .previous {
      font-size: 9pt;
      position: absolute;
      bottom: 10px;
    }*/

    input {
      padding: 0 15px;
      margin-bottom: 5px;
      border: 1px solid $gradient-border-color;
    }

        /*.next {
            right: 10px;
        }

        .previous {
            left: 10px;
        }*/

    .results {
      text-align: center;
      //overflow-y: auto;
      //max-height: 66px;
    }
    .search_result {
      width: 60%;
      //height: 30px;
      //-webkit-box-align: center;
      display: inline-block;
      //padding: 5px 20px 0 20px;
      padding: 2px 15px 7px 15px;

      a, span {
      }

      &:hover {
        background: $slight;
      }

      .name {
        float: left;
      }
      .stalk {
        float: right;
        cursor: pointer;
      }
    }
  }

    div.stalk_list {
        section.stalk_user {
            @include base-list;
        }
    }
}
